body {
    background-color: #333;
    color: #eee;
    font-family: "Google Sans Code", monospace;
    margin: 0;
}

h1 {
    margin: 0;
}

::selection {
    background: hotpink;
}

.box {
    background-color: #222;
    border-bottom: 4px solid #111;
    border-radius: 16px;
    margin: 16px;
    padding: 16px;
}
